{{page-title "Ex1"}}



<div class="card">
  <div class="card-header">
    Ex 1 : Note Application
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    Note :
    <Textarea @value ={{this.content}}/>

    <h2>Nombre de caractères restant : {{this.size}}</h2>
    Note ....
    <button></button>
  </div>
</div>
{{outlet}}